{{ define "pages/_forbidden" }}
<section class="page-section error-page">
  <header class="page-header">
    <h1>Forbidden</h1>
    {{ if .Body.Message }}<p>{{ .Body.Message }}</p>{{ end }}
  </header>
  <p><a href="javascript:history.back()">Go back</a></p>
</section>
{{ end }}
